@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

:root {
  --color-dark: #27292a;
  --color-darkest:#1f2122;
  --color-light:#fff;
  --color-primary:#ec6090;


  --color-bg-body: var(--color-darkest);

  --dis-primary:50px;
  --padding-primary: var(--dis-primary);
  --margin-primary: var(--dis-primary);
  --border-radius-primary:calc( var(--dis-primary)/2);

  --font-family-primary:'Poppins',sans-serif;
  --font-weight-bold:900;
  --font-weight-normal:400;

}




body{
  background-color: var(--color-bg-body);
  font-family: var(--font-family-primary)
}

ul {
  list-style-type: none ;
}

a {
  text-decoration: none;
}